/assets/joegame.tiled-session
/.ccls-cache
/assets/maps/desert/desert_*.json
/assets/books
/assets/images/emoji/*.png
!/assets/images/emoji/.gitkeep
/src/**/*.js
/public
/bundle
/.cache
/.log
/node_modules
yarn.lock
yarn-error.log
package-lock.json
ts-logs.txt
/src/assets
