.godot
!packages/assets/**/*.png
/assets/joegame.tiled-session
/.ccls-cache
/assets/maps/desert/desert_*.json
/packages/assets/*
/assets/images/emoji/*.png
!/assets/images/emoji/.gitkeep
/src/**/*.js
/public
/bundle
/.cache
/.log
*.log
**/node_modules/**
yarn.lock
yarn-error.log
ts-logs.txt
/src/assets
.pnpm-debug.log
/packages/*/dist
/packages/*/node_modules
/packages/timidity/test/
/packages/timidity/wasm/*.js
/site/**/public/**
packages/midi/libsynth.js
packages/midi/synth-worklet.js
rclone.conf
emacss
**/.em_cache
**/.cache
.projectile
.ccls-cache
.direnv
packages/mapscripts/esm/*

packages/midi/cfrag.json
packages/midi/compile_commands.json
.envrc

*.so*
*.o

.env/*

*/**/.env

packages/wr-lib/hgt
packages/world/ttiles
packages/world/wang-masks
packages/world/wang-tiles
packages/farm-and-eat/assets
packages/*/assets
packages/server/static
packages/gravispats/wavs
packages/golf-battleworms/tiles
packages/golf-battleworms/assets
zig-cache
