/*/**/*.png
!assets/**/*.png
/*/**/assets
/assets/joegame.tiled-session
/.ccls-cache
/assets/maps/desert/desert_*.json
/assets/books
/assets/images/emoji/*.png
!/assets/images/emoji/.gitkeep
/src/**/*.js
/public
/bundle
/.cache
/.log
*.log
**/node_modules/**
yarn.lock
yarn-error.log
package-lock.json
ts-logs.txt
/src/assets
.pnpm-debug.log
/packages/*/dist
/packages/timidity/test/
/packages/timidity/wasm/*.js
/site/**/public/**
packages/midi/libsynth.js
packages/midi/synth-worklet.js
rclone.conf
emacss
