---
layout: "layouts/joegame-page.njk"
---

{% set level %}
    {% include "levels/to-library.js" %}
{% endset %}
<!-- feed it through our cssmin filter to minify -->
<script defer>
    {{ level | jsmin | safe }}
</script>
