:root {
    --spacing: 0.3rem;
    --line-height: 1;
    --grid-spacing-vertical: 0;
    --grid-spacing-horizontal: var(--spacing);
    --form-element-spacing-vertical: 0.35rem;
    --form-element-spacing-horizontal: 0.5rem;
    /* --typography-spacing-vertical: 0.5rem; */
}

.grid-container {
    max-height: calc(100vh - (var(--spacing) * 8));
    display: grid;
    grid-template-columns: 208px 1fr;
    grid-template-rows: 100px 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "topcorner-area topbar-area"
        "sidebar-area main-area";
}

.main-area {
    grid-area: main-area;
    padding: 1rem;
}

.topbar-area {
    grid-area: topbar-area;
    border-bottom: 3px solid black;
}

.topcorner-area {
    grid-area: topcorner-area;
    overflow: visible;
    padding: var(--spacing);
    border-bottom: 3px solid black;
}

.sidebar-area {
    grid-area: sidebar-area;
    overflow: scroll;
}

.sidebar-list {
    overflow: scroll;
}

figure img {
    display: block;
    margin: auto;
}

.small {
    width: 180px;
    margin-left: 30px;
}

/* ty https://stackoverflow.com/a/47061022 */
.checkered {
    background: -webkit-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.0980392) 25%,
            transparent 25%,
            transparent 75%,
            rgba(0, 0, 0, 0.0980392) 75%,
            rgba(0, 0, 0, 0.0980392) 0
        ),
        -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent
                    25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(
                        0,
                        0,
                        0,
                        0.0980392
                    )
                    0),
        white;
    background: -moz-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.0980392) 25%,
            transparent 25%,
            transparent 75%,
            rgba(0, 0, 0, 0.0980392) 75%,
            rgba(0, 0, 0, 0.0980392) 0
        ),
        -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent
                    25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(
                        0,
                        0,
                        0,
                        0.0980392
                    )
                    0),
        white;
    background: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.0980392) 25%,
            transparent 25%,
            transparent 75%,
            rgba(0, 0, 0, 0.0980392) 75%,
            rgba(0, 0, 0, 0.0980392) 0
        ),
        linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.0980392) 25%,
            transparent 25%,
            transparent 75%,
            rgba(0, 0, 0, 0.0980392) 75%,
            rgba(0, 0, 0, 0.0980392) 0
        ),
        white;
    background-repeat: repeat, repeat;
    background-position: 0px 0, 5px 5px;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-background-origin: padding-box, padding-box;
    background-origin: padding-box, padding-box;
    -webkit-background-clip: border-box, border-box;
    background-clip: border-box, border-box;
    -webkit-background-size: 10px 10px, 10px 10px;
    background-size: 10px 10px, 10px 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
    transform: scaleX(1) scaleY(1) scaleZ(1);
    padding: 5rem;
}
